<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <table>
        <tr>
            <th>Nombre:</th>
            <th th:text="${usuario.nombre}"></th>
        </tr>
        <tr>
            <th>Rut:</th>
            <th th:text="${usuario.rut}"></th>
        </tr>
        <tr>
            <th>Correo:</th>
            <th th:text="${usuario.correo}"></th>
        </tr>
        <tr>
            <th>Edad:</th>
            <th th:text="${usuario.edad}"></th>
        </tr>
    </table>
</body>
</html>