<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
<table>
    <tr>
        <th>Nombre:</th>
        <th th:text="${mascota.nombre}"></th>
    </tr>
    <tr>
        <th>Tipo de Mascota:</th>
        <th th:text="${mascota.tipoMascota}"></th>
    </tr>
    <tr>
        <th>Raza:</th>
        <th th:text="${mascota.raza}"></th>
    </tr>
    <tr>
        <th>Edad:</th>
        <th th:text="${mascota.edad}"></th>
    </tr>

    <tr>
        <th>Dueño:</th>
        <th th:text="${mascota.duenio}"></th>
    </tr>
</table>
</body>
</html>