<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>THello World</title>
</head>
<body>

    <div class="container">
        <h3>Formulario Usuarios</h3>
        <form method="post">

            <div class="form-group">
                <label for="nombre">Nombre: </label>
                <input th:name="nombre" type="text" class="form-control" id="nombre" placeholder="Ingrese Nombre">
            </div>
            <div class="form-group">
                <label for="rut">Rut:</label>
                <input th:name="rut" type="text" class="form-control" id="rut" placeholder="Ingrese Rut">
            </div>
            <div class="form-group">
                <label for="correo">Correo:</label>
                <input th:name="correo" type="text" class="form-control" id="correo" placeholder="Ingrese Correo">
            </div>
            <div class="form-group">
                <label for="edad">Edad:</label>
                <input th:name="edad" type="number" class="form-control" id="edad" placeholder="Ingrese Edad">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    <div class ="container">
        <table border="1 line" class="table" >
            <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Rut</th>
                <th scope="col">Correo</th>
                <th scope="col">edad</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="usuario : ${usuarios}">
                <th th:text="${usuario.nombre}"></th>
                <th th:text="${usuario.rut}"></th>
                <th th:text="${usuario.correo}"></th>
                <th th:text="${usuario.edad}"></th>
                <th><a th:href="@{'/mascotas/'+${usuario.rut}}" class="btn btn-warning">Mascotas</a></th>
            </tr>
            </tbody>

        </table>
    </div>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
