<template>
  <div class="container">
    <br>
    <h2>Formulario de personas</h2>
    <form>
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" v-model="dataForm.nombre" required>
      </div>
      <div class="form-group">
        <label>Rut</label>
        <input type="text" class="form-control" v-model="dataForm.rut" required>
      </div>
      <div class="form-group">
        <label>Correo</label>
        <input type="email" class="form-control" v-model="dataForm.correo" required>
      </div>
      <div class="form-group">
        <label>Edad</label>
        <input type="number" class="form-control" v-model="dataForm.edad" required>
      </div>
      <button class="btn btn-primary" v-on:click="saveData" >Guardar</button>
    </form>
    <br>
    <br>

    <table class="table">
      <thead class="thead-light">
        <tr >
          <th scope="col">Nombre</th>
          <th scope="col">Rut</th>
          <th scope="col">Correo</th>
          <th scope="col">Edad</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users">
          <td>{{user.nombre}}</td>
          <td>{{user.rut}}</td>
          <td>{{user.correo}}</td>
          <td>{{user.edad}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  export default {
    name: "Home",
    data() {
      return {
        dataForm:{
          nombre:"",
          rut:"",
          correo:"",
          edad:0
        },
        users: []
      };
    },
    methods: {
      saveData(){
        this.$http.post("http://localhost:8080/usuarios/",
         this.dataForm,
          { headers: { "content-type": "application/json" } }).then(
          result => {
                    console.log("correct");
                    console.log(result.data);
                }, error => {
                    console.log("error");
                    console.error(error);
                });
      }
    },
    mounted(){
      this.$http.get("http://localhost:8080/usuarios/",
      { headers: { "content-type": "application/json" } }).then(result => {
                console.log("correct")
                this.users=result.body;
            }, error => {
                console.log("error")
                console.error(error);
            });
    }
  };
  
</script>