<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
<h1>Formulario mascotas</h1>
<form method="post">
    <table>
        <tr>
            <th>
                Nombre:
            </th>
            <th>
                <input type="text" th:name="nombre" required>
            </th>
        </tr>
        <tr>
            <th>
                Tipo de Mascota:
            </th>
            <th>
                <select th:name="tipoMascota" >
                    <option th:each="tipo: ${tipos}" th:value="${tipo}" th:text="${tipo.tipo}"></option>
                </select>
            </th>
        </tr>
        <tr>
            <th>
                Raza:
            </th>
            <th>
                <input type="text" th:name="raza" required>
            </th>
        </tr>
        <tr>
            <th>
                Edad:
            </th>
            <th>
                <input type="number" th:name="edad" required>
            </th>
        </tr>
    </table>
    <button type="submit">Enviar</button>
</form>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Especie</th>
                <th>Raza</th>
                <th>edad</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="mascota: ${mascotas}">
                <th th:text="${mascota.nombre}"></th>
                <th th:text="${mascota.tipoMascota.tipo}"></th>
                <th th:text="${mascota.raza}"></th>
                <th th:text="${mascota.edad}"></th>
            </tr>
        </tbody>

    </table>
    <a href="/usuarios/">Volver</a>
</body>
</html>
