<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sucursal</title>
</head>
<body>
<div th:replace="fragments :: navbar"></div>

<div class="container">

    <h2>Formulario vehiculos</h2>
    <form method="post">
        <div class="form-group">
            <label for="modeloid">Modelo:</label>
            <input type="text" class="form-control" id="modeloid" th:name="model" placeholder="Ingrese modelo" required>
        </div>
        <div class="form-group">
            <label for="marcaid">Patente:</label>
            <input type="text" class="form-control" id="marcaid" th:name="enrollment" placeholder="Ingrese patente" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Modelo</th>
            <th scope="col">Marca</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Editar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.model}"></td>
            <td th:text="${car.enrollment}"></td>
            <td ><a th:href="@{'/cars/delete/'+${car.enrollment}}" class="btn btn-warning">Eliminar</a></td>
            <td ><a th:href="@{'/cars/edit/'+${car.enrollment}}" class="btn btn-secondary">Editar</a></td>
        </tr>
        </tbody>
    </table>

</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>